<a href="https://colab.research.google.com/github/HirataChristian/58002_OOP/blob/main/loop%20statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")   
for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [2]:
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")   
for x in week:
  if x=="Thursday":
    print (x)
    break

Thursday

In [9]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits: 
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [10]:
i = 1
while i < 6:
  print(i)
  i += 1 #i = i+1 Assignment operator

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
    i += 1

INTEGERS LESS THAN 10

In [13]:
for y in range (11):
  print("hello", y)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10